/* #region MAIN ---------------------------------------------------------------------------------------- */
/* #region -- BUILT IN -------------------------- */
body
{
    background-color: rgba(0, 0, 0, 1);
    padding: 0px;
    margin: 0px;
}

img
{
    pointer-events: none;
    user-select: none;
}

/* Sometimes I hate CSS, sometimes I love it. This is one of the times I love it. */
*:focus-visible
{
    outline-style: solid;
    outline-color: rgba(255, 255, 255, 1);
    outline-width: 2px;
}
/* #endregion ----------------------------------- */



/* #region -- CLASSES --------------------------- */
.sidebar-button
{
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 1);
    font-family: 'Segoe MDL2 Assets', 'Segoe UI Semilight';
    width: 100%;
    height: 45px;
    border-radius: 0%;
    border-style: none;
    text-align: left;
    padding-left: 16px;
}
.sidebar-button:hover
{
    background-color: rgba(53, 53, 53, 1);
}
.sidebar-button:active
{
    background-color: rgba(76, 76, 76, 1);
}

.setting
{
    padding-left: 10px;
    padding-bottom: 15px;
}
.setting input
{
    background-color: rgba(31, 31, 31, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 0px;
    border-style: none;
    width: calc(100% - 8.5px);
    max-width: 320px;
    height: 37px;
    font-size: 15px;
    font-family: 'Segoe UI Semilight';
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
.setting input:hover
{
    background-color: rgba(26, 26, 26, 1);
}
.setting input:focus
{
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    padding-right: 37px;
}
.setting input:focus-visible
{
    outline: none;
}
.setting .input-clear
{
    visibility: hidden;
    font-family: 'Segoe MDL2 Assets';
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 1);
    border-radius: 0%;
    border-style: none;
    position: absolute;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    transform: translateX(-34px) translateY(+1px);
    text-align: center;
}
.setting .input-clear:hover
{
    color: rgba(0, 139, 247, 1);
}
.setting .input-clear:active
{
    background-color: rgba(0, 139, 247, 1);
    color: rgba(255, 255, 255, 1);
}
/* Originally, I used .setting input:not(:blank)::after but apparently input doesn't support ::after which seems really dumb to me */
.setting input:not(:placeholder-shown) + .input-clear
{
    visibility: visible;
}
.setting input:not(:focus):not(:placeholder-shown) + .input-clear:not(:active)
{
    visibility: hidden;
}
.setting input:has(+ .input-clear:active) /* This is one of the times I hate CSS */
{
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
}
.setting p
{
    margin-bottom: 5px;
    margin-top: 3px;
}
/* #region Radio buttons! They are so complicated they need their own comment. */
.setting .radio-button-group
{
    display: flex;
    flex-direction: column;
    width: calc(100% - 10px);
}

.setting .radio-option
{
    display: flex;
    align-items: flex-start;
    margin-top: 12px;
    cursor: normal;
}
.setting .radio-option input[type="radio"]
{
    /* Hide the default radio buttons */
    display: none;
}


.setting .radio-custom
{
    position: relative;
    height: 20px; /* Size of the outer ring */
    width: 20px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(198, 198, 198, 1);
    margin-right: 12px;
}

/* Active (clicking) outer ring */
.setting .radio-option:active .radio-custom
{
    border-color: rgba(153, 153, 135, 1) !important;
}

.setting .radio-label
{
    font-size: 15px;
    line-height: 1.5;
}

/* CHECKED outer ring */
.setting .radio-option input[type="radio"]:checked + .radio-custom
{
    border-color: rgba(0, 139, 247, 1);
}

/* Inner dot */
.setting .radio-custom::after
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 12px; /* Size of the inner dot */
    width: 12px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
}

/* UNCHECKED Hover */
.setting .radio-option:hover input[type="radio"]:not(:checked) + .radio-custom
{
    border-color: rgba(255, 255, 255, 1);
}

/* CHECKED inner dot (Revealed) */
.setting .radio-option input[type="radio"]:checked + .radio-custom::after
{
    transform: translate(-50%, -50%);
    background-color: rgba(198, 198, 198, 1);
}

/* CHECKED hover */
.setting .radio-option:hover input[type="radio"]:checked + .radio-custom::after
{
    background-color: rgba(255, 255, 255, 1);
}

/* CHECKED active */
.setting .radio-option:active input[type="radio"]:checked + .radio-custom::after
{
    background-color: rgba(153, 153, 153, 1);
}


/* #endregion End of radio buttons. */

/* #endregion ----------------------------------- */



/* #region -- IDs ------------------------------- */
#sidebar
{
    position: fixed;
    background-color: rgba(31, 31, 31, 1);
    user-select: none;
    width: 45px;
    height: 100vh;
    z-index: 10000;
}
#sidebar.open
{
    background-color: rgba(31, 31, 31, 0.8);
    backdrop-filter: blur(10px);
    width: 245px;
    animation-name: openSidebar;
    animation-duration: 0.3s;
}
#sidebar.open .sidebar-button:hover
{
    background-color: rgba(53, 53, 53, 0.5);
}
#sidebar.open .sidebar-button:active
{
    background-color: rgba(76, 76, 76, 0.5);
}

#sidebar.open #chat-button::after
{
    position: fixed;
    font-family: 'Segoe UI Semilight';
    padding-left: 10px;
    transform: translateY(-5px);
    font-size: 16px;
    content: "Chat";
}

#sidebar.open #notebook-button::after
{
    position: fixed;
    font-family: 'Segoe UI Semilight';
    padding-left: 10px;
    transform: translateY(-5px);
    font-size: 16px;
    content: "Notebook";
}

#feedback-button
{
    position: absolute;
    width: inherit;
    left: 0;
    bottom: 45px;
}
#sidebar.open #feedback-button::after
{
    position: fixed;
    font-family: 'Segoe UI Semilight';
    padding-left: 10px;
    transform: translateY(-5px);
    font-size: 16px;
    content: "Feedback";
}

#settings-button
{
    position: absolute;
    width: inherit;
    left: 0;
    bottom: 0;
}
#sidebar.open #settings-button::after
{
    position: fixed;
    font-family: 'Segoe UI Semilight';
    padding-left: 10px;
    transform: translateY(-5px);
    font-size: 16px;
    content: "Settings";
}

#content
{
    padding-left: 45px;
    color: rgba(255, 255, 255, 1);
    font-family: "Segoe UI Semilight";
}

#chat
{
    display: block;
    background-color: rgba(255, 0, 0, 1);
    height: 100vh;
}

#notebook
{
    display: none;
    background-color: rgba(0, 255, 0, 1);
    height: 100vh;
}

#settings
{
    display: none;
    height: 100vh;
    user-select: none;
}

#sett-header
{
    height: 64px;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
}

#sett-about
{
    position: absolute;
    width: inherit;
    bottom: 5px;
    padding-left: 10px;
}
#sett-about h4
{
    padding: 0px;
    font-size: 15px;
    font-family: "Segoe UI";
    font-weight: 700;
    margin: 0px;
}
#sett-about p
{
    margin: 0px;
    padding: 0px;
    font-size: 13px;
}
#sett-about a
{
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    color: rgba(0, 139, 247);
    text-decoration: none;
}
#sett-about a:hover
{
    color: rgba(119, 119, 119, 1);
}
#sett-about a:active
{
    color: rgba(81, 81, 81, 1);
}
/* #endregion ----------------------------------- */



/* #region -- ANIMATIONS ------------------------ */
@keyframes openSidebar
{
    from
    {
        width: 45px;
    }
    to
    {
        width: 245px;
    }
}
/* #endregion ----------------------------------- */
/* #endregion MAIN ------------------------------------------------------------------------------------- */



/* #region LIGHT MODE ---------------------------------------------------------------------------------- */
body.light-mode
{
    /* #region BUILT-IN ----------------------------- */
    background-color: rgba(255, 255, 255, 1);

    *:focus-visible
    {
        outline-color: rgba(0, 0, 0, 1);
    }
    /* #endregion ----------------------------------- */



    /* #region CLASSES ------------------------------ */
    .sidebar-button
    {
        color: rgba(0, 0, 0, 1);
    }
    .sidebar-button:hover
    {
        background-color: rgba(207, 207, 207, 1);
    }
    .sidebar-button:active
    {
        background-color: rgba(184, 184, 184, 1);
    }

    .setting input
    {
        background-color: rgba(230, 230, 230, 1);
        color: rgba(0, 0, 0, 1);
    }
    .setting input:hover
    {
        background-color: rgba(235, 235, 235, 1);
    }
    .setting input:focus
    {
        background-color: rgba(245, 245, 245, 1);
    }
    .setting input:has(+ .input-clear:active)
    {
        background-color: rgba(245, 245, 245, 1);
    }

    .setting .radio-custom
    {
        border-color: rgba(57, 57, 57, 1);
    }
    .setting .radio-option:active .radio-custom
    {
        border-color: rgba(102, 102, 102, 1);
    }
    .setting .radio-option:hover input[type="radio"]:not(:checked) + .radio-custom
    {
        border-color: rgba(0, 0, 0, 1);
    }
    .setting .radio-option input[type="radio"]:checked + .radio-custom::after
    {
        background-color: rgba(51, 51, 51, 1);
    }
    .setting .radio-option:hover input[type="radio"]:checked + .radio-custom::after
    {
        background-color: rgba(0, 0, 0, 1);
    }
    .setting .radio-option:active input[type="radio"]:checked + .radio-custom::after
    {
        background-color: rgba(102, 102, 102, 1);
    }
    /* #endregion ----------------------------------- */



    /* #region IDs ---------------------------------- */
    #sidebar
    {
        background-color: rgba(230, 230, 230, 1);
    }
    #sidebar.open
    {
        background-color: rgba(230, 230, 230, 0.8);
        backdrop-filter: blur(50px); /* MUCH stronger blur for light mode */
    }
    #sidebar.open .sidebar-button:hover
    {
        background-color: rgba(207, 207, 207, 0.5);
    }
    #sidebar.open .sidebar-button:active
    {
        background-color: rgba(184, 184, 184, 0.5);
    }

    #content
    {
        color: rgba(0, 0, 0, 1);
    }

    #sett-about a:hover
    {
        color: rgba(118, 118, 118, 1);
    }
    #sett-about a:active
    {
        color: rgba(167, 167, 167, 1);
    }
    /* #endregion ----------------------------------- */
}
/* #endregion LIGHT MODE ------------------------------------------------------------------------------- */